.display-data__meta {
  padding: 16px 24px 8px;
}

.display-data__header {
  font-weight: 400;
  color: var(--tg-theme-text-color, #11181c);
}

.display-data__footer {
  margin-top: 4px;
  color: var(--tg-theme-text-color, #11181c);
  opacity: 0.9;
}

.display-data__line {
  padding: 16px 24px;
}

.display-data__line-title {
  color: var(--tg-theme-text-color, #11181c);
  opacity: 0.9;
}

.display-data__line-value {
  word-break: break-word;
}